// Define variables for your color scheme

// For example:
$red: #810000;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #BBBBBB;
$dark-gray: #888888;
$light-gray: #F0F0F0;
$white: #FFFFFF;
$light: #FDFBF3;
$beige: #EEEBDD;
$gold: #EFCF9A;
$brown: #372F2F;
$black: #000000
