// Specific CSS for your home-page
.head-banner{
  background-color: #372F2F;
  color: #EEEBDD;
  padding: 30px;
}
.head-title{
  display: flex;
}
.head-title img{
  width: 50px;
  height: 100%;
}
h1{
  font-family: 'Qwigley', cursive;
}
.search-form-control {
  position: relative;
  .btn {
    background-color: #810000;
    color:#EEEBDD;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
  }
  .form-control {
    background-color: #EEEBDD;
    height: 3.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border: 1px solid #E7E7E7;
  }
  .form-control:focus {
    border: 1px solid #1EDD88;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }
}
.navbar-nav{
  flex-direction: row;
}

.category-card{
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.category-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.background-img{
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80≈);
  background-size: cover;
  background-position: center;
  height: 550px ;
  width: 375px;
}
.background-img p{
  color: #EEEBDD;
}
