// Specific CSS for your home-page
.category-card{
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.category-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.background-img{
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1510972527921-ce03766a1cf1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80≈);
  background-size: cover;
  background-position: center;
  height: 550px ;
  width: 100%;
}
.background-img p{
  color: #EEEBDD;
}
