// Specific CSS for your home-page
p {
  padding: 0;
  margin: 0;
}

// Hero Section
.hero-section {
  img {
    width: 80px;
    height: auto;
    object-fit: contain;
  }
  h1 {
    color:#EEEBDD;
    font-size: 4rem;
    font-family: $home-headers-font;
  }
}

// Cards
.category-card{
  height: 100px;
  width: 324px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    p {
      text-shadow: 2px 2px 2px rgba(255,255,255,0.2);
    }
}
.category-cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.background-img{
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd3n6uf2t/image/upload/c_scale,w_2240/v1630600179/tastogether_banner_brjhpe.jpg);
  background-size: cover;
  background-position: center;
  height: 35vh;
  min-height: 285px;
  width: 100%;
}
.background-img p{
  color: white;
  font-style: italic;
}

.popular-categories-txt {
  margin-bottom: 0;
  margin-top: 0.85rem;
  font-style: italic;
}
