<p>
  <%= link_to tasting_path(participation.tasting) do %>
    <p><%= participation.user.username %> requested to participate in <%= participation.tasting.title %>.
    Included message: <%= participation.initial_message %></p>
  <% end %>
</p>