<div class="head-banner ">
  <div class="head-title-home d-flex justify-content-center">
    <%= image_tag "Tastogether_Thicker.png" %>
      <h1>Tastogether</h1>
  </div>
  <div class="d-flex justify-content-center">
    <p><em>What is taste without buds?</em></p>
  </div>
</div>
