<% unless current_user.pending_messages_count.zero? %>
  <span class="badge my-badge badge-light">
    <div class="message-notification-badge">
      <%= current_user.pending_messages_count %>
    </div>
  </span>
<% else %>
  <span class="badge my-badge badge-light d-none">
    <div class="message-notification-badge"></div>
  </span>
<% end %>
