<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <ul class="navbar-nav m-auto">
    <li class="nav-item mx-3">
      <i class="fas fa-home mx-auto"></i>
      <%= link_to "Home" , root_path , class: "nav-link" %>
    </li>
    <li class="nav-item mx-3">
      <i class="fas fa-utensils mx-auto"></i>
      <%= link_to "Tastings" , tastings_path , class: "nav-link" %>
    </li>
    <li class="nav-item mx-3">
      <i class="fas fa-plus-square mx-auto"></i>
      <%= link_to "Host" , new_tasting_path , class: "nav-link" %>
    </li>
    <li class="nav-item mx-3">
      <i class="fas fa-user-circle mx-auto"></i>
      <%= link_to "Profile" , dashboard_path , class: "nav-link" %>
    </li>
  </ul>
</div>
