<% if current_user.present? %>
  <% unless current_user.pending_requests_count.zero? %>
    <div class="notification-badge" id="notification" data-user-id="<%= current_user.id %>">
      <%= current_user.pending_requests_count %>
    </div>
  <% else %>
    <div class="d-none notification-badge" id="notification" data-user-id="<%= current_user.id %>">
    </div>
  <% end %>
<% end %>
