.dashboard-tabs{
  width: 100%;
  justify-content: space-evenly;
}
.tab-nav-item{
  width: 33%;
  text-align: center;
}
#dashboard-badge{
  position: relative;
  top: -43px;
  right: -36px;
  border-radius: 50%;
  background: #810000;
  color: white;
  font-weight: normal;
}
