.dashboard-tabs {
  width: 100%;
  justify-content: space-evenly;
}

.tab-nav-item {
  width: 33.333333333333333333%;
  text-align: center;
}

#dashboard-badge{
  position: relative;
  top: -42px;
  right: -36px;
  border-radius: 50%;
  background: #810000;
  color: white;
  font-weight: normal;
  line-height: 1.5rem;
}

.my-nav-pills {
  border-radius: 0 !important;
}
