.head-banner{
  background-color: #372F2F;
  color: #EEEBDD;
  padding: 30px 0;
  img{
  width: 50px;
  height: 100%;
  }
  h1{
    font-family: $headers-font;
  }
}

.head-title-home{
  display: flex;
  h1{
  font-family: 'Qwigley', cursive;
  }
}
