.my-navbar{
  padding: 0;
}

.my-navbar-nav{
  position: fixed !important;
  bottom: 0;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
  border-top: 1px solid #878888;
}
.my-nav-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 50px;
}
.my-nav-link{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fas{
  font-size: 25px;
}
.my-badge{
  position: relative;
  top: -68px;
  right: -12px;
  border-radius: 50%;
  background: #810000;
  color: white;
  font-weight: normal;
}
