.card-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.card-product-user{
  position: absolute;
  right: 16px;
  top: -50px;
  border: 4px solid #fff
}
.card{
  border-radius: 8px;
  ul{
  padding-right: 20px;
  padding-top: 10px;
  border-top: 2px solid $red;
  list-style: none;
  margin: 0;
}
}
.card-photo{
  position:relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  clip-path:
    polygon(
      0% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 85%,  /* bottom right */
      0% 100%   /* bottom left */
    );
}
