@keyframes popup {
  0% {bottom: -99px;}
  25% {bottom: 99px;}
  75% {opacity: 1; bottom: 99px;}
  100% {opacity: 0; display: none; bottom: 0;}
}

.received-popup{
  background-color: #FFC65A;
  position: sticky;
  bottom: 99px;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  text-align: justify;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation-name: popup;
  animation-fill-mode: forwards;
  animation-duration: 6s;
}
